@import '~bootstrap/scss/bootstrap.scss';

ul{
    list-style: none;
}

.list{
    border: 1px solid black;
    border-radius: 14px;
    margin: 10px auto;
    padding: 14px 14px;
}

.edit{
    margin-bottom: 30px;
}

.errors-lists{
    list-style-type: style; 
}

